.overlay {
  background: rgb(0 0 0 / 40%);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.isClosing {
  animation: modal-animate-closing 0.32s;
}

.content {
  border: 1px solid;
  position: relative;
  background: rgb(255 255 255 / 100%);
  border-radius: 5px;
  padding: 10px 40px 20px 20px;
}

.closeButton {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  background: none;
  color: rgb(0 0 0 / 60%);
}

.closeButton:hover {
  color: rgb(0 0 0 / 100%);
}

.title {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

@keyframes modal-animate-closing {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
